---
/**
 * Este componente agrupa los tabs y la timeline de la agenda. Ambos componentes crean HTMLElements que se comunican mediante atributos aria-selected. Por favor, no eliminar ni modificar dichos atributos sin antes revisar la lógica de comunicación entre ambos componentes.
 */
import AgendaTabs from "./AgendaTabs.astro";
import AgendaTimeline from "./AgendaTimeline.astro";
---

<div>
    <AgendaTabs />
    <AgendaTimeline />
</div>