---
---
<section class="dark:bg-[#0f0f1a] py-20">
    <div class="container mx-auto px-4 text-center max-w-6xl ">

    <p class="text-2xl font-bold dark:text-amber-300">La agenda del evento se revelará próximamente. Mantente atento para descubrir las conferencias, paneles y experiencias que marcarán el EME 2025.</p>
    <p class="text-xl font-light dark:text-white mt-5">**¡Estamos afinando detalles! <strong class="dark:text-slate-200 font-normal">La agenda está sujeta a posibles modificaciones.</strong> ** </p>
</div>
</section>
