---
import SliceTitulo from "../SliceTitulo.astro";
---

<section
    class="p-2 flex flex-col items-center text-center py-8 bg-slate-100 dark:bg-[#0f0f1a] dark:text-white"
>
    <SliceTitulo title="Sobre EME 2025" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-3xl mt-6">
        <div>
            <p>
                El evento que reúne al sector minero–energético de la región.
                Disfruta de una <strong class="dark:text-[#2CA4BF]">experiencia única</strong>  con ponentes nacionales e
                internacionales, <strong class="dark:text-[#2CA4BF]">espacios de aprendizaje y oportunidades</strong>  para
                impulsar el futuro de la minería y la energía.
            </p>
        </div>
        <div>
            <p>
                <strong class="dark:text-[#2CA4BF]">📅 19 y 20 de noviembre de 2025</strong> – Dos días de conferencias,
                networking y conocimiento especializado en el corazón de Norte
                de Santander, donde se darán cita los líderes que marcan
                <strong class="dark:text-[#2CA4BF]">tendencia en la industria</strong>.
            </p>
        </div>
    </div>
    <div class="mt-10 grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-6">
        <div
            class="flex flex-col items-center justify-center w-36 h-32 border border-gray-300 rounded-2xl shadow-md p-4 text-center bg-white dark:bg-gray-900"
        >
            <span class="font-bold text-4xl text-[#2CA4BF] dark:text-amber-300">19 <span class="text-2xl">y</span>  20</span>
            <span class="font-light text-lg mt-2">
                de Noviembre
        </div>
        <div
            class="flex flex-col items-center justify-center w-36 h-32 border border-gray-300 rounded-2xl shadow-md p-4 text-center bg-white dark:bg-gray-900"
        >
            <span class="font-bold text-4xl text-[#2CA4BF] dark:text-amber-300">+25</span>
            <span class="font-light text-sm md:text-base leading-5 mt-2">
                Ponentes nacionales e internacionales
            </span>
        </div>  
         <div
            class="flex flex-col items-center justify-center w-36 h-32 border border-gray-300 rounded-2xl shadow-md p-4 text-center bg-white dark:bg-gray-900"
        >
            <span class="font-bold text-4xl text-[#2CA4BF] dark:text-amber-300">+500</span>
            <span class="font-light text-lg mt-2">
                Asistentes
            </span>
        </div>
         <div
            class="flex flex-col items-center justify-center w-36 h-32 border border-gray-300 rounded-2xl shadow-md p-4 text-center bg-white dark:bg-gray-900"
        >
            <span class="font-bold text-4xl text-[#2CA4BF] dark:text-amber-300">+20</span>
            <span class="font-light text-lg mt-2 leading-5">
                Horas de contenido
            </span>
        </div>
    </div>
</section>
