---
import LogoVerticalDark from '../../assets/icons/verticales/LogoVerticalDark.png';
import Contador from '../Contador.astro';
---

<section class="flex flex-col p-3 bg-black text-white">
    <img src={LogoVerticalDark.src} alt="Logo del evento minero EME 2025" class="w-1/2 mx-auto my-8" />
    <button>Inscribete</button>
    <p class="text-center mt-4 mb-3">
        El evento que conecta a líderes, empresas y oportunidades mineras. ¡No te lo pierdas!   
    </p>
    <Contador />

    <div class="w-screen h-screen"></div>
</section>