---
import { Image } from "astro:assets";
import LogoVerticalDark from "../../assets/icons/verticales/LogoVerticalDark.png";
import Contador from "../Contador.astro";
---

<section class="flex flex-col text-white mt-16">
  <Image
    src={LogoVerticalDark}
    alt="Logo del evento minero EME 2025"
    class="w-1/2 mx-auto my-8 md:w-1/4 lg:w-1/6 transition-transform duration-500 ease-out hover:scale-105 hover:drop-shadow-md"
  />

  <button
    id="btnInscribete"
    class="animate-border border-2 rounded-md border-[#034561] px-6 py-3 mx-auto text-xl font-semibold transition-colors duration-1000"
  >
    Inscríbete
  </button>
  <p class="text-center mt-4 mb-2 text-xl text-white font-medium">
    El evento que conecta a <span class="font-bold text-white">líderes</span>,
    <span class="font-bold text-white">empresas</span> y
    <span class="font-bold text-white">oportunidades mineras</span>.
  </p>
  <p class="text-center text-2xl font-extrabold text-amber-300 mt-1 mb-3">
    ¡NO TE LO PIERDAS!
  </p>

  <Contador />
</section>

<style>
  @keyframes borderPulse {
    0% {
      border-color: rgb(3 69 97);
    } /* green-500 */
    50% {
      border-color: rgb(255 220 127);
    } /* amber-400 */
    100% {
      border-color: rgb(44 164 191);
    } /* green-500 */
  }

  .animate-border {
    animation: borderPulse 5s linear infinite;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("btnInscribete");
    const target = document.getElementById("inscripcion");

    function smoothScrollTo(element: HTMLElement, duration: number = 1000) {
      const targetY = element.getBoundingClientRect().top + window.scrollY;
      const startY = window.scrollY;
      const diff = targetY - startY;
      let startTime: number | null = null;

      function easeInOutQuad(t: number): number {
        return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
      }

      function step(time: number) {
        if (startTime === null) startTime = time;
        const timeElapsed = time - startTime;
        const progress = Math.min(timeElapsed / duration, 1);
        const easedProgress = easeInOutQuad(progress);

        window.scrollTo(0, startY + diff * easedProgress);

        if (progress < 1) requestAnimationFrame(step);
      }

      requestAnimationFrame(step);
    }

    if (btn && target) {
      btn.addEventListener("click", () => {
        smoothScrollTo(target, 800);
      });
    }
  });
</script>
