---
import Image from 'astro/components/Image.astro';
import { getCollection } from 'astro:content';


const ponentes = await getCollection('ponentes');
console.log(ponentes);

---

<section>
    <h2>Ponentes</h2>
    <div class="flex gap-1 flex-wrap">
        {ponentes.map(ponente => (
            <div class="border p-2 rounded">
                <h3>{ponente.data.nombre}</h3>
                <Image src={ponente.data.foto} alt={ponente.data.nombre} width={150} height={150} />
            </div>
        ))}
    </div>
       
</section>