---
import { getCollection } from "astro:content";
import PonenteCard from "../PonenteCard.astro";
import SliceTitulo from "../SliceTitulo.astro";

const ponentes = await getCollection("ponentes");
---

<section class="p-2 flex flex-col items-center text-center py-8 dark:bg-[#0f0f1a]">
    <SliceTitulo title="Ponentes" subtitle ="Conocimiento y experiencia de invitados de alto nivel"/>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
        {
            ponentes.map((ponente) => (
                <PonenteCard
                    nombre={ponente.data.nombre}
                    foto={ponente.data.foto}
                />
            ))
        }
    </div>
</section>
