---
import MainSlice from "../components/slice/MainSlice.astro";
import Patrocinadores from "../components/slice/Patrocinadores.astro";
import Layout from "../layouts/Layout.astro";
import CarborBg from "../assets/images/carbon.png";
import "../styles/global.css";
import Image from "astro/components/Image.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Evento Minero EME 2025">
	<div class="relative min-h-fit overflow-hidden">
		<div
			class="absolute w-full h-full bg-center bg-no-repeat bg-cover -z-10 bg-zoom"
			style={`background-image: url(${CarborBg.src});`}
		>
		</div>
		<MainSlice />
	</div>

	<Patrocinadores />
</Layout>


<style>
	@layer utilities {
  .bg-zoom {
    background-size: 400%;
  }
  @media (min-width: 720px) {
    .bg-zoom {
      background-size: 200%;
    }
  @media (min-width: 896px) {
    .bg-zoom {
      background-size: 150%;
    }
  }
}
</style>