---
---

<footer>
    <div class="bg-[#034561] text-white text-center py-4">
        <p class="text-sm">
        &copy; {new Date().getFullYear()} Evento Minero EME 2025. Todos los derechos reservados.
        </p>
    </div>
</footer>