---
import logoHorizontalDark from "../assets/icons/horizontales/LogoHorizontalDark.png";
import logoHorizontalLight from "../assets/icons/horizontales/LogoHorizontalLight.png";

const { src } = logoHorizontalLight;
---

<header
    id="header"
    class="fixed top-0 left-0 w-full z-50 transition-all duration-700 ease-in-out bg-transparent flex justify-between"
>
    <img
        id="logo-header"
        data-light={src}
        data-dark={logoHorizontalDark.src}
        src={logoHorizontalDark.src}
        alt=" Logo del evento minero EME 2025"
        class="w-1/2 ml-3 my-4"
    />
    <a href="">MENU</a>
</header>

<script>
    const header = document.getElementById("header") as HTMLElement;
    const logoHeader = document.getElementById(
        "logo-header",
    ) as HTMLImageElement;

    const mediaQueryList = window.matchMedia("(prefers-color-scheme: dark)");
    console.log(mediaQueryList);
    let isDark = mediaQueryList.matches;
    window.addEventListener("scroll", () => {
        if (isDark) return;
        if (window.scrollY > 300) {
            header.classList.remove("bg-transparent");
            header.classList.add(
                "bg-white/90",
                "backdrop-blur-md",
                "shadow-md",
            );
            const logoLight = logoHeader.getAttribute("data-light");
            logoHeader.src = logoLight!;
        } else {
            const logoDark = logoHeader.getAttribute("data-dark");
            logoHeader.src = logoDark!;
            header.classList.add("bg-transparent");
            header.classList.remove(
                "bg-white/90",
                "backdrop-blur-md",
                "shadow-md",
            );
        }
    });
</script>
