---
import { Image } from "astro:assets";

const { nombre, foto,organizacion } = Astro.props;

---

<a href="#" onclick="event.preventDefault()">
    <div class="z-10 border border-gray-200 dark:bg-gray-800 dark:border-gray-700 rounded-lg shadow-sm p-2 flex flex-col items-center w-32 md:h-60 card md:w-52">
      
        <Image src={foto} alt={nombre} class={"object-cover w-24 h-24 md:w-32 md:h-32 z-10 rounded-full"} />
          <h3 class="z-10 mb-1 text-xl font-medium text-gray-900 dark:text-white">{nombre}</h3>
          <span class="text-sm text-gray-500 dark:text-gray-400 z-10">{organizacion}</span>
    </div>
</a>

<style>
    .card {
        position: relative;
        display: flex;
        place-content: center;
        place-items: center;
        overflow: hidden;
        border-radius: 20px;
    }
    :hover.card::before {
        content: "";
        position: absolute;
        width: 100px;
        background-image: linear-gradient(
            180deg,
            rgb(255 220 127),
            rgb(44 164 191)
        );
        height: 130%;
        animation: rotBGimg 3s linear infinite;
        transition: all 0.2s linear;
    }

    @keyframes rotBGimg {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    :hover.card::after {
        content: "";
        position: absolute;
        background: white;
        inset: 5px;
        border-radius: 15px;
    }
    /* En dark mode */
@media (prefers-color-scheme: dark) {
  .card:hover::after {
    background: #0f0f1a; 
  }
}
</style>
