---
const { title, subtitle } = Astro.props;
---

<div class="flex items-center w-full max-w-3xl mx-auto">
  <!-- Línea izquierda -->
  <div class="line-left"></div>

  <!-- Texto centrado -->
  <h2 class="px-4 text-2xl font-bold title">{title}</h2>

  <!-- Línea derecha -->
  <div class="line-right"></div>
</div>

{subtitle && <p class="subtitle">{subtitle}</p>}

<style>
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    padding-bottom: 0.25rem;
    color: #1e293b;
    transition: color 0.3s ease;
  }
  .subtitle {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #475569;
    transition: color 0.3s ease;
    text-align: center;
  }
  .line-left {
    flex: 1;
    height: 1px;
    background: linear-gradient(to right, transparent, #64748b);
    transition: background 0.3s ease;
  }
  .line-right {
    flex: 1;
    height: 1px;
    background: linear-gradient(to left, transparent, #64748b);
    transition: background 0.3s ease;
  }

  @media (prefers-color-scheme: dark) {
    .title {
      color: white;
    }
    .subtitle {
      color: #ffffff;
    }

    .line-left {
      background: linear-gradient(to right, transparent, white);
    }
    .line-right {
      background: linear-gradient(to left, transparent, white);
    }
  }
</style>