---
import Header from '../components/Header.astro';
import Analytics from '@vercel/analytics/astro'


interface Props {
	title?: string;
	description?: string;
}

const { title ,description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" media="(prefers-color-scheme: light)" />
		<link rel="icon" type="image/svg+xml" href="/LogoDark.svg" media="(prefers-color-scheme: dark)" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description ?? "El evento minero energetico más importante de Norte de Santander"} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Press+Start+2P&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body >
		<Header />
		<slot />
		 <Analytics />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		font-family: "blinker", sans-serif;
	}
</style>
